  table {
  margin: 0 auto;
  border-radius:10px;
   }


td {
      border: 5px solid grey;
      width: 200px;
      height: 200px;
      text-align: center;
      font-size: 6em;
      box-sizing:border-box;
    }

    td:hover{
      cursor:pointer;
    }

    td:first-child{
      border-left: none;
    }


    td:last-child{
      border-right: none;
    }



      td:nth-child( 2n+2 ){
        border-right: none;
        border-left: none;
      }

      thead tr td{
        border-top:none;
        border-bottom: none;
      }

      tfoot tr td{
        border-top:none;
        border-bottom: none;
      }

.container, .playerTurn {
  text-align: center;
}

.X, .O {
  border-radius: 15px;

}
  .X {
  background: red;
}
    .O {
      background: purple;
  }

  .clear {
  background: white;
}

    #reset {
        padding: 15px;
        width: 400px;
        font-size: 2.0em;
        border-radius: 10px;
        cursor: pointer;
      }

    #reset:hover{
        background: red;
        border-color: red;
      }


